body {
  font-family: 'Gochi Hand' cursive;
  background-image: url("istockphoto-1346852763-170667a.jpg");
  height: 100%;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cover-small {
  color:black;
  height: 200px;
  background-blend-mode: normal;
}

.card {
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.86);
}

.card-title {
  min-height: 3rem;
}

.card-text {
  min-height: 10rem;
}

/* Menu de imagenes */
  
.product-stripe {
  overflow-x: scroll;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
  
.stripe-container {
  display: flex;
}

.stripe-container .card {
  width: 300px;
  flex-shrink: 0;
  margin-right: 1rem;
}
  